%header
  .head-notice チャットグループが作成されました。
.leftcontens
  .leftcontens__user
  = render'shared/side_bar'
.main
  .main__header
    .main__header__left
      .main__header__left__group-name fuyou
      .main__header__left__member a aa aaa
    .main__header__edit
      %a{:href => ""} edit
  = render partial: "message", collection: @messages
  .main__footer
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message' , placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Sebd' , class: 'form__submit'
